<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}<title>{{ config.BLOG_TITLE }}</title>{% endblock %}



{% block content %}
<div class="slider">
    <div class="alert alert-error">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <br>
    back to <a href="{{ url_for("index") }}">home</a>
    <br>
    </div>
</div>
{% endblock %}