<!DOCTYPE html>
{% extends "layout.html" %}
{% block head %}<title>{% raw %}{{ config.BLOG_TITLE }}{% endraw %}</title>{% endblock %}
{% block content %}
                    <div ng-controller="PostController">
                        <div class="slider">
                            <div class="listing">
                                
                            </div><!--end listing-->
                        </div><!--end slider-->
                        <ul class="pager">
                                <li class="previous">
                                    <a href="/">&larr; Previous</a>
                                </li>

                                <li class="next">
                                    <a href="/">Next  &rarr;</a>
                                </li>
                        </ul>
                    </div>
{% endblock %}